.Titulos{
    text-align: center;
    font-size: 20px;
    color: blue;
}
.Subtitulos{
    text-align: center;
    font-size: 20px;
    color: black;
}
.nombres{
    text-align: center;
    font-size: 15px;
    color: black;
}